# ======================================
# 构建、日志、临时文件
# ======================================
build
log
install

# ======================================
# Python
# ======================================
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
